* {
	font-family: helvetica
}

table {
    border: transparent;
}

td {
    padding: 0;
}

h1 {
	text-align: center;
	font-size: 300%;
}

h5{
	text-align: center;
	font-size: 125%;
	color: black;
}

img{
	padding: 10px;
}

<style type="text/css">
.centerImage
{
text-align:center;
display:block;
}
</style>